/* Set background for the app */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(to right, #3a6ef2, #5f3ef2);
  color: #fff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

/* Logo styling */
.logo-holder {
  display: flex;
  align-content: center;
  justify-content: center;
  background: #fff;
  width: 95%;
  padding: 5px;
  border-radius: 15px;
  max-width: 500px;
}

.logo {
  width: 50%;
  height: auto;
}

/* Centered image styling */
.image-holder {
  margin: 20px 0px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-image {
  width: 60%;
  max-width: 300px;
}

/* Scroll content styling */
.content {
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.card {
  background: #fff;
  color: #007bff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* Button styling */
button {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Hide content when scrolling up */
.hide-image {
  opacity: 0;
  transform: translateY(-100%);
}

.show-content {
  display: flex;
  opacity: 1;
}
